<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Insights</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="ion-padding">

      <ion-card>
          <ion-card-header>
            Line Insight
          </ion-card-header>
          <ion-card-content>
            <canvas #lineCanvas></canvas>
          </ion-card-content>
        </ion-card>

    <ion-card>
      <ion-card-header>
        Bar Insight
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    
  </div>
</ion-content>