<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline" alt="Home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="logs">
      <ion-icon name="document-text-outline" alt="Records"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="records">
      <ion-icon name="analytics-outline" alt="Insights"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="contact">
      <ion-icon name="fitness-outline" alt=""></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline" alt="menu"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>